Transformer Model/rotowire/*
Transformer Model/sbnation/*
Transformer Model/rotowiretrain1.json
Transformer Model/wngt2019.pdf
Transformer Model/experiments/*
Transformer Model/boxscore-data-master/*
